venv/
.env

__pycache__/
*.pyc

logs/*.log

data/raw/*.json
data/processed/*.csv
data/processed_metadata/*.json
data/load_metadata/*.json

database/*
!database/weather.db

!powerbi/weather_dataset.csv

.idea/
.vscode/

.airflow/

config/config.json
